article, aside, blockquote, dd, details, dl, fieldset, figcaption, figure, footer, form, header, hgroup, legend, nav, ol, p, pre, section, table, ul{
    margin: 0 0 16px;
    padding: 0;
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{
    display: block;
}

html{
    color: rgb(0, 0, 0, .87);
}

body, html{
    font-size: 16px;
    line-height: 1.45;
    font-family:"Graphik Meetup",helvetica,arial,sans-serif;
    font-weight:400;
    text-rendering:optimizeLegibility;
    font-feature-settings:"liga","kern";
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style-position: outside;
}

.padding-none, .paddingNone{
    padding: 0 !important;
}

a:visited{
    color: #1f24cc;
}

a, a:active, a:hover, a:link, a:visited{
    cursor: pointer;
    color: #1f24cc;
    text-decoration: none;
}

.display--none, .display-none{
    display: none;
}


body.scant{
    background: #666;
}


.muOverlay, body.interstitial .D_dialog div.interstitialblock, div.interstitialblock{
    display: none;
}

.loadingAjax div.interstitialblock, .muOverlay{
    background: #fff;
    opacity: .6 !important;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4500;
}

html>body .C_page--fluid #C_context, html>body .C_page--fluid #C_pageBody{
    margin: 0;
    padding: 0;
    width: 100%;
}

#C_pageBody{
    min-height: 300px;
}


#C_context{
    position: relative;
}


#C_document{
    margin: 0 0 0 14px;
}

.noNav{
    margin-left: 0 !important;
    padding-left: 0 !important; 
}


.docBounds{
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    padding: 32px 32px 16px;
}

.docBounds--login{
    max-width: 460px;
}

.D_dialog:after, .D_dialog:before, .docBounds:after, .docBounds:before, .nav-buttons:after, .nav-buttons:before, .nav-pagination:after, .nav-pagination:before, .nav-tabs:after, .nav-tabs:before, .navTabs:after, .navTabs:before, .segmented-control:after, .segmented-control:before, .star-rating:after, .star-rating:before{
    content: " ";
    display: table;
}

.D_dialog:after, .docBounds:after, .nav-buttons:after, .nav-pagination:after, .nav-tabs:after, .navTabs:after, .segmented-control:after, .star-rating:after{
    clear: both;
}


.actionMenu-actions, .doc-box, .docBox{
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, .12) !important;
    border-bottom: 1px solid rgba(0,0,0,.26) !important;
    background-clip: padding-box;
}

.actionMenu-actions .doc-content:first-child, .doc-box .doc-content:first-child, .docBox .doc-content:first-child{
    border-top: none;
}

.actionMenu-actions>.doc-content:first-child, .actionMenu-actions>.docSection:first-child, .doc-box>.doc-content:first-child, .doc-box>.docSection:first-child, .docBox>.doc-content:first-child, .docBox>.docSection:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.doc-content, .doc-controls, .doc-padding{
    border-bottom: 1px solid transparent;
    padding: 16px 16px 0;
}

.small, .text--small, label.small, small{
    font-size: 13px;
    line-height: 1.6;
}

.bold, h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}


.actionMenu-actions .doc-content, .doc-box .doc-content, .docBox .doc-content{
    border-top: 1px solid rgba(0, 0, 0, .12);
}


a, abbr, acronym, code, small, span, strike, strong, sub, sup, time{
    display: inline;
}

footer, form, legend{
    margin-bottom: 0;
}

label{
    font-size: 13px;
    display: block;
}

.span-100{
    width: 99.8% !important;
}

input, select, textarea{
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    display: block;
    line-height: 1.45;
    padding: 4px;
    font-size: 16px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, .87);
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 3px;
    background-color: #fafafa;
}


button, input, select, textarea{
    margin: 0 0 16px;
    vertical-align: baseline;
    box-sizing: border-box;
}



.button, .button--black, .button--blue, .button--green, .button--primary, .button--white, .button-flat, .button-flat--black, .button-flat--gray, .button-flat--green, .button-flat--red, .button-flat--white, .button-photo, .button-photo--white, .button.primary, .chunkList-row a:active, .nav-appendPager, .nav-buttons label, .nav-buttons li>a, .nav-buttons li>span, .primary, .segmented-control-button, .tabControl-link, button, input[type=submit], input[type=submit].D_submit, input[type=submit].button--black, input[type=submit].button--blue, input[type=submit].button--green, input[type=submit].button--primary, input[type=submit].primary{
    user-select: none;
    cursor: pointer;
    text-decoration: none !important;
}


.button--primary, .button-flat--red, .button.primary, .primary, input[type=submit].D_submit, input[type=submit].button--primary, input[type=submit].primary{
    display: inline-flex;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    min-height: 36px;
    outline: 0;
    padding: 0 16px;
    vertical-align: middle;
    line-height: 1;
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, .12);
    stroke: transparent;
    fill: #fff !important;
    color: #fff !important;
    background: #ed1c40;
    border-color: #ed1c40;
}


#paneLogin .isFacebook, #paneSignup .isFacebook{
    background-color: #D8DFEA;
    border-top: 1px solid #627AAD;
}

.isFacebook{
    background: #e7dEd2;
    padding-top: 16px !important;
    padding-bottom: 16px;
    overflow:visible;
}

.doc-content, .doc-controls, .doc-padding{
    border-bottom: 1px solid transparent;
    padding: 16px 16px 0;
}

.isFacebook .orbox .orword{
    font-weight: 700;
    font-variant: small-caps;
    text-transform: uppercase;
    margin-top: -24px;
    width: 32px;
    height: 16px;
    text-align: center;
    line-height: 14px;
    background: #fff;
    border-radius: 4px;
}

.center-able, .centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#paneLogin .button.facebook-button{
    color: #fff !important;
    background: #3b5998;
    border-radius: 3px;
    position: relative;
    padding-top: 16px !important;
    padding-bottom:13px !important;
    text-align: center;
    padding: 0 14px 0 56px;
}

.button.wide{
    width: 99%;
}


.button, .button--black, .button--blue, .button--green, .button--primary, .button--white, .button-flat, .button-flat--black, .button-flat--gray, .button-flat--green, .button-flat--red, .button-flat--white, .button-photo, .button-photo--white, .button.primary, .chunkList-row a:active, .nav-appendPager, .nav-buttons label, .nav-buttons li>a, .nav-buttons li>span, .primary, .segmented-control-button, .tabControl-link, button, input[type=submit], input[type=submit].D_submit, input[type=submit].button--black, input[type=submit].button--blue, input[type=submit].button--green, input[type=submit].button--primary, input[type=submit].primary{
    user-select: none;
    cursor: pointer;
    text-decoration: none !important;
}




.inline-block, .inlineBlock{
    display: inline-block;
    zoom: 1;
}


.button, button, input[type=submit]{
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-size: 16px;
    font-weight: 600;
    min-height: 36px;
    outline: 0;
    vertical-align: middle;
    line-height: 1;
    margin-bottom: 16px;
    border:1px solid rgba(0, 0, 0, .12);
    stroke: transparent;
    fill: rgba(0, 0, 0, .87);
}


#paneLogin .button.facebook-button:before{
    content: '\00a0';
    background: url(../../../img/f-logo.png)center center no-repeat;
    position: absolute;
    display: block;
    border-right: 1px solid #758ab6;
    left: 0;
    top: 0;
    text-align: center;
    padding: 16px 18px 13px;
    font-size: 16px !important;
}

#paneLogin a.button.googleTie{
    color: rgba(0, 0, 0, .54) !important;
    background: #fff;
    border-radius: 3px;
    border:1px solid #ddd;
    position: relative;
    padding-top: 16px !important;
    padding-bottom: 13px !important;
}

.button.wide{
    width: 99%;
    padding: 20px .66em;
}

#paneLogin a.button.googleTie:before{
    content: '\00a0';
    background: url(../../../img/logo_google.svg)center center/20px no-repeat;
    position: absolute;
    display: block;
    border-right: 1px solid #d5d5d5;
    left: 0;
    top: 0;
    text-align: center;
    padding: 16px 18px 13px;
    font-size: 16px !important;
}



#paneLogin .google-button-title{
    margin-left: 35px;
    padding: 0 13px;
}

.button, button, input[type=submit]{
    display: inline-flex;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack:center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    min-height: 36px;
    font-size: 16px;
    font-weight: 600;
    outline: 0;
    vertical-align: middle;
    line-height: 1;
    margin-bottom: 16px;
    stroke: transparent;
    fill: rgba(0, 0, 0, .87);
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{
    display: block;
}

article, aside, blockquote, dd, details, dl, fieldset, figcaption, figure, footer, form, header, hgroup, legend, nav, ol, p, pre, section, table, ul{
    margin: 0 0 16px;
    padding: 0;
}


.button, .button--black, .button--blue, .button--green, .button--primary, .button--white, .button-flat, .button-flat--black, .button-flat--gray, .button-flat--green, .button-flat--red, .button-flat--white, .button-photo, .button-photo--white, .button.primary, .chunkList-row a:active, .nav-appendPager, .nav-buttons label, .nav-buttons li>a, .nav-buttons li>span, .primary, .segmented-control-button, .tabControl-link, button, input[type=submit], input[type=submit].D_submit, input[type=submit].button--black, input[type=submit].button--blue, input[type=submit].button--green, input[type=submit].button--primary, input[type=submit].primary{
    user-select: none;
    text-decoration: none !important;
}

.margin-none, .marginNone{
    margin: 0 !important;
}

.button--contrast{
    stroke: transparent;
    fill: rgba(0, 0, 0, .87);
    background: rgba(0,0,0,.26);
    border-color: rgba(255,255,255,.2);
}

.commaList, .crumbList, .inlineList, .inlineblockList, .pipeList{
    padding-left: 0;
}

.inlineblockList>li{
    display: inline-block;
}

.commaList>li, .crumbList>li, .inlineList>li, .inlineblockList>li, .pipeList>li{
    list-style: none;
}

li{
    margin: 0;
    padding: 0;
}

footer, form, legend{
    margin-bottom: 0;
}

.small, .text--small, label.small, small{
    font-size: 13px;
    line-height: 1.6;
}

.text--secondary{
    stroke: transparent;
    fill: rgba(0, 0, 0, .54);
}

.commaList, .crumbList, .inlineList, .inlineblockList, .pipeList{
    padding-left: 0;
}

.small, .text--small, label.small, small{
    font-size: 13px;
    line-height: 1.6;
}