img{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 0;
}


#globalNav{
    border-bottom: 1px solid rgb(0,0,0,0.12);
    background-color: #fff;
    position: relative;
    margin: 0;
}

.header--new #logoContainer{
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    width: auto;
    min-width: 0;
}



#globalNav.header--new.unauthenticated{
    padding: 16px 16px 8px;
}

#globalNav.header--new.unauthenticated .headerTab-label{
    cursor: pointer;
    font-size: 14px;
}


.header--new #logoScript{
    height: 44px;
}


#globalNav.header--new #headerCreateLink .headerTab-label{
    font-weight: 600;
    color: #F64060 !important;
}

#homeLink{
    display: inline-block;
    line-height: 0;
    vertical-align: bottom;
}

#mainFooter{
    color: #fff;
    background-color: #0f1721;
    margin-bottom: 0px;
}

#mainFooter-bounds{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 24px 16px 8px;
    width: 100%;
}

#mainFooter a{
    color:inherit !important;
    text-decoration: none;
}

#startFooterBtn{
    padding: 10px 16px 8px 16px !important;
}


#footerAuthLink:before, #footerAuthLink:after{
    content: " ";
    display: table;
}

#footerAuthLink:after{
    clear: both;
}

#mainFooter .bordered{
    border-top: 1ps solid rgba(255,255,255, 0.12);
    padding-top: 16px;
}

#mainFooter .inlineblockList>li{
    padding-right: 8px;
}

#mainFooter-social-links{
    margin-bottom: 24px;
}

#mainFooter .text--secondary{
    color: rgba(255, 255, 255, 0.7);
}

/* media query section */
@media only screen and (min-width: 640px){
    #globalNav.header--new.unauthenticated .headerTab, #globalNav.header--new.unauthenticated .headerTab-label{
        margin: 0;
        padding: 0;
    }

    .header--new .headerTab-label{
        display: inline-block;
    }

    #globalNav.header--new>.row>.row-item{
        align-self: center;
    }

    #globalNav.header--new>.row>.row-item{
        padding-left: 16px;
        align-self: center;
    }

    #mainFooter a:not(.button){
        font-size: 16px;
    }

    #startFooterBtn{
        width: auto;
    }

    #footerAuthLink>a{
        float: right;
    }

    #mainFooter-social-links-label{
        font-size: 16px;
    }

    #mainFooter-social-links{
        margin-bottom: 24px;
    }


}
